<!-- Footer -->

<footer class="bg-gray-900 text-white py-8 mt-20">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- About Section with Logo -->
      <div>
        <img src="/src/assets/white-new-logo.webp" alt="Dealinee Estate Logo" class="w-48 mb-4"> <!-- Add your logo path -->
        <h3 class="text-xl font-semibold mb-2">About Us</h3>
        <p class="text-gray-400">We are committed to empowering communities through education, social initiatives, and sustainable solutions.</p>
      </div>

      <!-- Quick Links -->
      <div>
        <h3 class="text-xl font-semibold mb-2">Quick Links</h3>
        <ul class="space-y-2">
          <li><a href="/index.html" class="text-gray-400 hover:text-white">Home</a></li>
          <li><a href="/src/pages/about/about.html" class="text-gray-400 hover:text-white">About</a></li>
          <li><a href="/src/pages/contact/contact.html" class="text-gray-400 hover:text-white">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div>
        <h3 class="text-xl font-semibold mb-2">Contact Us</h3>
        <p class="text-gray-400">Email: dealineeestate@gmail.com</p>
        <p class="text-gray-400">Phone: +91 700 893 7155</p>
        <p class="text-gray-400">Address: Flat No - 5A, 5th Floor, Iscon Residency Apartment,
          Near Koel Campus, Sishu Vihar, Patia,
          Bhubaneswar, Odisha - 751024 , India</p>
      </div>
    </div>

    <!-- Social Media & Copyright -->
    <div class="mt-8 flex flex-col md:flex-row justify-between items-center border-t border-gray-700 pt-4">
      <p class="text-gray-400 text-sm">© 2025 Dealinee Estate Real Estate Company. All Rights Reserved.</p>
      <div class="flex space-x-6 mt-2 md:mt-0">
        <a href="https://www.facebook.com/profile.php?id=100083070285659" target="_blank" class="text-gray-400 hover:text-blue-500 transition duration-300 text-2xl">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com/dealineeestate" target="_blank" class="text-gray-400 hover:text-blue-400 transition duration-300 text-2xl">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/dealinee_estate/" target="_blank" class="text-gray-400 hover:text-pink-500 transition duration-300 text-2xl">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/dealineeestate" target="_blank" class="text-gray-400 hover:text-blue-700 transition duration-300 text-2xl">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
  

<script>
    document.getElementById('menu-toggle').addEventListener('click', function () {
        document.getElementById('menu').classList.toggle('hidden');
    });
</script>